/* COLORS */

:root {
    --lightblue: #c9e4fa; 
    --lightblue2: #aad9f7;
    --lightblue3: #abc2f3;
}

/* */


.bg-lightblue{
    background-color: var(--lightblue) !important;
}


.bg-lightblue2{
    background-color: var(--lightblue2) !important;
}

.bg-lightblue3{
    background-color: var(--lightblue3) !important;
}

.border-black {
    border-color: black!important;
}

.fw-900 {
    font-weight: 900;
}

.station-card {
    border:1px solid black;
    scroll-margin-top: 12.5rem;
}

.station-row {
    scroll-margin-top: 12rem;
}

.station-table {
    border-color: black;
}

#chat-card {
    min-height: 28rem;
}

.card-img-top {
    border-bottom: 1px solid black;
    height: calc(14vh + 0.4vw);
    object-fit: cover;
}

#tagline {
    margin-top: 0.2rem;
    margin-bottom:0.8rem;
}


#tagmenu {
    font-size: calc((0.8em + 0.4vw)) !important;
}

#audio-player {
    width: calc(14em + 5vw);
    height: 2.8em;
}

#player-station {
    text-decoration: underline dashed;
}

.rec-badge {
    font-size: 0.6em !important;
    margin-top: -0.5em !important;
}